# Initial preprocessing

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Initial-preprocessing-steps-for-Non-Western-cities" data-toc-modified-id="Initial-preprocessing-steps-for-Non-Western-cities-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Initial preprocessing steps for Non-Western cities</a></span><ul class="toc-item"><li><span><a href="#Load-reviews-for-each-city" data-toc-modified-id="Load-reviews-for-each-city-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load reviews for each city</a></span></li><li><span><a href="#Count-number-of-reviews-in-each-city" data-toc-modified-id="Count-number-of-reviews-in-each-city-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Count number of reviews in each city</a></span></li><li><span><a href="#Count-total-number-of-reviews-for-all-Non-Western-cities" data-toc-modified-id="Count-total-number-of-reviews-for-all-Non-Western-cities-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Count total number of reviews for all Non-Western cities</a></span></li><li><span><a href="#Check-for-duplicates" data-toc-modified-id="Check-for-duplicates-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Check for duplicates</a></span></li><li><span><a href="#Load-listings-for-each-city" data-toc-modified-id="Load-listings-for-each-city-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Load listings for each city</a></span></li><li><span><a href="#Count-number-of-listings-in-each-city" data-toc-modified-id="Count-number-of-listings-in-each-city-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Count number of listings in each city</a></span></li><li><span><a href="#Count-total-number-of-listings-for-all-Non-Western-cities" data-toc-modified-id="Count-total-number-of-listings-for-all-Non-Western-cities-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Count total number of listings for all Non-Western cities</a></span></li><li><span><a href="#Check-for-duplicates" data-toc-modified-id="Check-for-duplicates-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Check for duplicates</a></span></li><li><span><a href="#Filter-required-columns-in-listings" data-toc-modified-id="Filter-required-columns-in-listings-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Filter required columns in listings</a></span></li><li><span><a href="#Unify-city-names-in-column-'city'" data-toc-modified-id="Unify-city-names-in-column-'city'-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Unify city names in column 'city'</a></span></li><li><span><a href="#Concatenate-listings-from-all-Non-Western-cities-to-one-data-frame" data-toc-modified-id="Concatenate-listings-from-all-Non-Western-cities-to-one-data-frame-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Concatenate listings from all Non-Western cities to one data frame</a></span></li><li><span><a href="#Save-all-listings-data-frame-for-adoption-analysis" data-toc-modified-id="Save-all-listings-data-frame-for-adoption-analysis-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Save all listings data frame for adoption analysis</a></span></li><li><span><a href="#Rename--'listing_id'-and-'id'-columns-and-remove-unrequired-columns-in-reviews" data-toc-modified-id="Rename--'listing_id'-and-'id'-columns-and-remove-unrequired-columns-in-reviews-1.13"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>Rename  'listing_id' and 'id' columns and remove unrequired columns in reviews</a></span></li><li><span><a href="#Merge-reviews-and-listings-data-frames-for-each-city" data-toc-modified-id="Merge-reviews-and-listings-data-frames-for-each-city-1.14"><span class="toc-item-num">1.14&nbsp;&nbsp;</span>Merge reviews and listings data frames for each city</a></span></li><li><span><a href="#Concatenate-all-Non-Western-cities-to-one-data-frame" data-toc-modified-id="Concatenate-all-Non-Western-cities-to-one-data-frame-1.15"><span class="toc-item-num">1.15&nbsp;&nbsp;</span>Concatenate all Non-Western cities to one data frame</a></span></li><li><span><a href="#Check-missing-observations" data-toc-modified-id="Check-missing-observations-1.16"><span class="toc-item-num">1.16&nbsp;&nbsp;</span>Check missing observations</a></span></li><li><span><a href="#Check-number-of-listings-which-have-at-least-one-review" data-toc-modified-id="Check-number-of-listings-which-have-at-least-one-review-1.17"><span class="toc-item-num">1.17&nbsp;&nbsp;</span>Check number of listings which have at least one review</a></span></li><li><span><a href="#Remove-missing-observations-in-columns-'comments'-and-'review_scores_rating'" data-toc-modified-id="Remove-missing-observations-in-columns-'comments'-and-'review_scores_rating'-1.18"><span class="toc-item-num">1.18&nbsp;&nbsp;</span>Remove missing observations in columns 'comments' and 'review_scores_rating'</a></span></li><li><span><a href="#Remove-automated-reviews" data-toc-modified-id="Remove-automated-reviews-1.19"><span class="toc-item-num">1.19&nbsp;&nbsp;</span>Remove automated reviews</a></span></li></ul></li><li><span><a href="#The-same-as-above-initial-preprocessing-steps-for-Western-cities" data-toc-modified-id="The-same-as-above-initial-preprocessing-steps-for-Western-cities-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>The same as above initial preprocessing steps for Western cities</a></span></li><li><span><a href="#Save-files-to-pickle" data-toc-modified-id="Save-files-to-pickle-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Save files to pickle</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

## Initial preprocessing steps for Non-Western cities

Cities to study: Beijing, Belize, Buenos Aires, Hong Kong, Mexico City, Rio de Janeiro, Santiago, Taipei, Tokyo

### Load reviews for each city

In [2]:
beijing_reviews = pd.read_csv('airbnb-reviews-listings/beijing.csv')
belize_reviews = pd.read_csv('airbnb-reviews-listings/belize.csv')
buenos_aires_reviews = pd.read_csv('airbnb-reviews-listings/buenos_aires.csv')
hong_kong_reviews = pd.read_csv('airbnb-reviews-listings/hong_kong.csv')
mexico_city_reviews = pd.read_csv('airbnb-reviews-listings/mexico_city.csv')
rio_de_janeiro_reviews = pd.read_csv('airbnb-reviews-listings/rio_de_janeiro.csv')
santiago_reviews = pd.read_csv('airbnb-reviews-listings/santiago.csv')
taipei_reviews = pd.read_csv('airbnb-reviews-listings/taipei.csv')
tokyo_reviews = pd.read_csv('airbnb-reviews-listings/tokyo.csv')

### Count number of reviews in each city

In [3]:
print('Total number of reviews per city:')
print('-------------------')
print('Beijing : {} reviews and {} features.'.format(*beijing_reviews.shape))
print('Belize : {} reviews and {} features.'.format(*belize_reviews.shape))
print('Buenos Aires : {} reviews and {} features.'.format(*buenos_aires_reviews.shape))
print('Hong Kong : {} reviews and {} features.'.format(*hong_kong_reviews.shape))
print('Mexico City : {} reviews and {} features.'.format(*mexico_city_reviews.shape))
print('Rio de Janeiro : {} reviews and {} features.'.format(*rio_de_janeiro_reviews.shape))
print('Santiago : {} reviews and {} features.'.format(*santiago_reviews.shape))
print('Taipei : {} reviews and {} features.'.format(*taipei_reviews.shape))
print('Tokyo : {} reviews and {} features.'.format(*tokyo_reviews.shape))

Total number of reviews per city:
-------------------
Beijing : 258218 reviews and 6 features.
Belize : 45039 reviews and 6 features.
Buenos Aires : 384976 reviews and 6 features.
Hong Kong : 203875 reviews and 6 features.
Mexico City : 527451 reviews and 6 features.
Rio de Janeiro : 348895 reviews and 6 features.
Santiago : 211162 reviews and 6 features.
Taipei : 283690 reviews and 6 features.
Tokyo : 398181 reviews and 6 features.

### Count total number of reviews for all Non-Western cities

In [4]:
total_number_reviews_non_western = beijing_reviews.shape[0] + belize_reviews.shape[0] +\
                                   buenos_aires_reviews.shape[0] + hong_kong_reviews.shape[0] +\
                                   mexico_city_reviews.shape[0] + rio_de_janeiro_reviews.shape[0] +\
                                   santiago_reviews.shape[0] + taipei_reviews.shape[0] + tokyo_reviews.shape[0]
            
print('Total number of reviews in Non-Western cities: {}'.format(total_number_reviews_non_western))

Total number of reviews in Non-Western cities: 2661487

### Check for duplicates

In [5]:
print('Beijing contains {} duplicates.'.format(beijing_reviews.duplicated().sum()))
print('Belize contains {} duplicates.'.format(belize_reviews.duplicated().sum()))
print('Buenos Aires contains {} duplicates.'.format(buenos_aires_reviews.duplicated().sum()))
print('Hong Kong contains {} duplicates.'.format(hong_kong_reviews.duplicated().sum()))
print('Mexico City contains {} duplicates.'.format(mexico_city_reviews.duplicated().sum()))
print('Rio de Janeiro contains {} duplicates.'.format(rio_de_janeiro_reviews.duplicated().sum()))
print('Santiago contains {} duplicates.'.format(santiago_reviews.duplicated().sum()))
print('Taipei contains {} duplicates.'.format(taipei_reviews.duplicated().sum()))
print('Tokyo contains {} duplicates.'.format(tokyo_reviews.duplicated().sum()))

Beijing contains 0 duplicates.
Belize contains 0 duplicates.
Buenos Aires contains 0 duplicates.
Hong Kong contains 0 duplicates.
Mexico City contains 0 duplicates.
Rio de Janeiro contains 0 duplicates.
Santiago contains 0 duplicates.
Taipei contains 0 duplicates.
Tokyo contains 0 duplicates.

In [6]:
beijing_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,44054,84748,2010-08-25,207019,Jarrod,Sev was very helpful. Sev showed us where to ...
1,44054,118384,2010-10-13,218723,Kimberly,We arrived in Beijing very early in the mornin...
2,44054,436978,2011-08-11,609177,Emma,It is a really massive apartment and really co...
3,44054,1118657,2012-04-12,1787536,Andreyna,"Sev was incredibly helpful, showed us around t..."
4,44054,2140650,2012-08-30,1179565,Frances,The appartment was ideal for our party of 6 ad...

### Load listings for each city

In [7]:
beijing_listings = pd.read_csv('airbnb-reviews-listings/beijing_listings.csv')
belize_listings = pd.read_csv('airbnb-reviews-listings/belize_listings.csv')
buenos_aires_listings = pd.read_csv('airbnb-reviews-listings/buenos_aires_listings.csv')
hong_kong_listings = pd.read_csv('airbnb-reviews-listings/hong_kong_listings.csv')
mexico_city_listings = pd.read_csv('airbnb-reviews-listings/mexico_city_listings.csv')
rio_de_janeiro_listings = pd.read_csv('airbnb-reviews-listings/rio_de_janeiro_listings.csv')
santiago_listings = pd.read_csv('airbnb-reviews-listings/santiago_listings.csv')
taipei_listings = pd.read_csv('airbnb-reviews-listings/taipei_listings.csv')
tokyo_listings = pd.read_csv('airbnb-reviews-listings/tokyo_listings.csv')

### Count number of listings in each city

In [8]:
print('Total number of listings per city:')
print('-------------------')
print('Beijing : {} listings and {} features.'.format(*beijing_listings.shape))
print('Belize : {} listings and {} features.'.format(*belize_listings.shape))
print('Buenos Aires : {} listings and {} features.'.format(*buenos_aires_listings.shape))
print('Hong Kong : {} listings and {} features.'.format(*hong_kong_listings.shape))
print('Mexico City : {} listings and {} features.'.format(*mexico_city_listings.shape))
print('Rio de Janeiro : {} listings and {} features.'.format(*rio_de_janeiro_listings.shape))
print('Santiago : {} listings and {} features.'.format(*santiago_listings.shape))
print('Taipei : {} listings and {} features.'.format(*taipei_listings.shape))
print('Tokyo : {} listings and {} features.'.format(*tokyo_listings.shape))

Total number of listings per city:
-------------------
Beijing : 36864 listings and 106 features.
Belize : 2949 listings and 106 features.
Buenos Aires : 23828 listings and 106 features.
Hong Kong : 11449 listings and 106 features.
Mexico City : 21662 listings and 106 features.
Rio de Janeiro : 35793 listings and 106 features.
Santiago : 16118 listings and 106 features.
Taipei : 8409 listings and 106 features.
Tokyo : 15009 listings and 106 features.

### Count total number of listings for all Non-Western cities

In [9]:
total_number_listings_non_western = beijing_listings.shape[0] + belize_listings.shape[0] +\
                                    buenos_aires_listings.shape[0] + hong_kong_listings.shape[0] +\
                                    mexico_city_listings.shape[0] + rio_de_janeiro_listings.shape[0] +\
                                    santiago_listings.shape[0] + taipei_listings.shape[0] + tokyo_listings.shape[0]

print('Total number of listings in Non-Western cities: {}'.format(total_number_listings_non_western))

Total number of listings in Non-Western cities: 172081

### Check for duplicates

In [10]:
print('Beijing contains {} duplicates.'.format(beijing_listings.duplicated().sum()))
print('Belize contains {} duplicates.'.format(belize_listings.duplicated().sum()))
print('Buenos Aires contains {} duplicates.'.format(buenos_aires_listings.duplicated().sum()))
print('Hong Kong contains {} duplicates.'.format(hong_kong_listings.duplicated().sum()))
print('Mexico City contains {} duplicates.'.format(mexico_city_listings.duplicated().sum()))
print('Rio de Janeiro contains {} duplicates.'.format(rio_de_janeiro_listings.duplicated().sum()))
print('Santiago contains {} duplicates.'.format(santiago_listings.duplicated().sum()))
print('Taipei contains {} duplicates.'.format(taipei_listings.duplicated().sum()))
print('Tokyo contains {} duplicates.'.format(tokyo_listings.duplicated().sum()))

Beijing contains 0 duplicates.
Belize contains 0 duplicates.
Buenos Aires contains 0 duplicates.
Hong Kong contains 0 duplicates.
Mexico City contains 0 duplicates.
Rio de Janeiro contains 0 duplicates.
Santiago contains 0 duplicates.
Taipei contains 0 duplicates.
Tokyo contains 0 duplicates.

In [11]:
beijing_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,44054,https://www.airbnb.com/rooms/44054,20200527044855,2020-05-28,Modern and Comfortable Living in CBD,East Apartments offers comfortable living away...,East Apartments is a western managed serviced ...,East Apartments offers comfortable living away...,none,The neighborhood is a private compound. Just ...,...,f,f,strict_14_with_grace_period,f,f,5,5,0,0,0.83
1,100213,https://www.airbnb.com/rooms/100213,20200527044855,2020-05-27,The Great Wall Box Deluxe Suite A团园长城小院东院套房,This is your guide to live by the Great Wall! ...,This is your guide to live by the Great Wall! ...,This is your guide to live by the Great Wall! ...,none,"5 mins walk to Panglongshan Great Wall, 25 min...",...,t,f,strict_14_with_grace_period,f,f,4,0,3,1,0.06
2,114384,https://www.airbnb.com/rooms/114384,20200527044855,2020-05-28,CBD Luxury 1-bedroom suite with a 30m2 terrace,Located in the core position of Chaoyang CBD. ...,Closed fully-equipped kitchen with top brand f...,Located in the core position of Chaoyang CBD. ...,none,Located in the core position of Chaoyang CBD. ...,...,t,f,moderate,f,f,5,5,0,0,0.73
3,114465,https://www.airbnb.com/rooms/114465,20200527044855,2020-05-28,CBD Spacious Luxury Suite with 30 sqm terrace,Located in the core position of Chaoyang CBD. ...,Closed fully-equipped kitchen with top brand f...,Located in the core position of Chaoyang CBD. ...,none,"Walking distance to dozens of bus lines, Guoma...",...,t,f,moderate,f,f,5,5,0,0,0.11
4,128496,https://www.airbnb.com/rooms/128496,20200527044855,2020-05-28,Heart of Beijing: House with View 2,real life in a real Hutong. Not the Disneyland...,"如果你没有任何其他房东的好评,没有认证ID,没有简单的自我介绍,我会感觉有些别扭,所以,很可...",real life in a real Hutong. Not the Disneyland...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,2.65

### Filter required columns in listings

In [12]:
columns_extracted = pd.read_csv('airbnb-reviews-listings/columns.txt', names=['col'])
columns_extracted = [item for item in columns_extracted['col']]
columns_extracted

['id',
 'host_id',
 'neighbourhood_cleansed',
 'city',
 'latitude',
 'longitude',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating']

In [13]:
beijing_listings = beijing_listings[columns_extracted]
belize_listings = belize_listings[columns_extracted]
buenos_aires_listings = buenos_aires_listings[columns_extracted]
hong_kong_listings = hong_kong_listings[columns_extracted]
mexico_city_listings = mexico_city_listings[columns_extracted]
rio_de_janeiro_listings = rio_de_janeiro_listings[columns_extracted]
santiago_listings = santiago_listings[columns_extracted]
taipei_listings = taipei_listings[columns_extracted]
tokyo_listings = tokyo_listings[columns_extracted]

In [14]:
beijing_listings.head()

,id,host_id,neighbourhood_cleansed,city,latitude,longitude,number_of_reviews,first_review,last_review,review_scores_rating
0,44054,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
1,100213,527062,密云县 / Miyun,Beijing,40.68434,117.17231,2,2017-08-27,2017-10-08,100.0
2,114384,533062,朝阳区 / Chaoyang,Beijing,39.90474,116.46372,66,2012-12-31,2020-01-04,93.0
3,114465,533062,朝阳区 / Chaoyang,Beijing,39.90441,116.46524,10,2012-11-13,2019-10-06,98.0
4,128496,467520,东城区,Beijing,39.93235,116.42254,290,2011-06-02,2020-01-19,97.0

### Unify city names in column 'city'

In [15]:
beijing_listings['city'] = 'Beijing'
belize_listings['city'] = 'Belize'
buenos_aires_listings['city'] = 'Buenos Aires'
hong_kong_listings['city'] = 'Hong Kong'
mexico_city_listings['city'] = 'Mexico City'
rio_de_janeiro_listings['city'] = 'Rio de Janeiro'
santiago_listings['city'] = 'Santiago'
taipei_listings['city'] = 'Taipei'
tokyo_listings['city'] = 'Tokyo'

### Concatenate listings from all Non-Western cities to one data frame

In [16]:
listings_non_western_df = pd.concat([beijing_listings, belize_listings, buenos_aires_listings, hong_kong_listings, 
                          mexico_city_listings, rio_de_janeiro_listings, santiago_listings, taipei_listings, 
                          tokyo_listings]).reset_index().drop('index', axis=1)

In [17]:
listings_non_western_df.head()

,id,host_id,neighbourhood_cleansed,city,latitude,longitude,number_of_reviews,first_review,last_review,review_scores_rating
0,44054,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
1,100213,527062,密云县 / Miyun,Beijing,40.68434,117.17231,2,2017-08-27,2017-10-08,100.0
2,114384,533062,朝阳区 / Chaoyang,Beijing,39.90474,116.46372,66,2012-12-31,2020-01-04,93.0
3,114465,533062,朝阳区 / Chaoyang,Beijing,39.90441,116.46524,10,2012-11-13,2019-10-06,98.0
4,128496,467520,东城区,Beijing,39.93235,116.42254,290,2011-06-02,2020-01-19,97.0

### Save all listings data frame for adoption analysis

In [18]:
listings_non_western_df.to_pickle('listings_non_western_df.pkl')

### Rename  'listing_id' and 'id' columns and remove unrequired columns in reviews

In [18]:
beijing_reviews = beijing_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                                 .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
belize_reviews = belize_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                               .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
buenos_aires_reviews = buenos_aires_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                                           .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
hong_kong_reviews = hong_kong_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                                     .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
mexico_city_reviews = mexico_city_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                                         .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
rio_de_janeiro_reviews = rio_de_janeiro_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                                               .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
santiago_reviews = santiago_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                                   .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
taipei_reviews = taipei_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                               .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
tokyo_reviews = tokyo_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                             .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)

In [19]:
beijing_reviews.head()

      id        date                                           comments
0  44054  2010-08-25  Sev was very helpful.  Sev showed us where to ...
1  44054  2010-10-13  We arrived in Beijing very early in the mornin...
2  44054  2011-08-11  It is a really massive apartment and really co...
3  44054  2012-04-12  Sev was incredibly helpful, showed us around t...
4  44054  2012-08-30  The appartment was ideal for our party of 6 ad...

### Merge reviews and listings data frames for each city

In [20]:
beijing = pd.DataFrame.merge(beijing_reviews, beijing_listings, left_on='id', right_on='id', how='inner')
belize = pd.DataFrame.merge(belize_reviews, belize_listings, left_on='id', right_on='id', how='inner')
buenos_aires = pd.DataFrame.merge(buenos_aires_reviews, buenos_aires_listings, left_on='id', right_on='id', how='inner')
hong_kong = pd.DataFrame.merge(hong_kong_reviews, hong_kong_listings, left_on='id', right_on='id', how='inner')
mexico_city = pd.DataFrame.merge(mexico_city_reviews, mexico_city_listings, left_on='id', right_on='id', how='inner')
rio_de_janeiro = pd.DataFrame.merge(rio_de_janeiro_reviews, rio_de_janeiro_listings, left_on='id', right_on='id', how='inner')
santiago = pd.DataFrame.merge(santiago_reviews, santiago_listings, left_on='id', right_on='id', how='inner')
taipei = pd.DataFrame.merge(taipei_reviews, taipei_listings, left_on='id', right_on='id', how='inner')
tokyo = pd.DataFrame.merge(tokyo_reviews, tokyo_listings, left_on='id', right_on='id', how='inner')

In [21]:
beijing.head()

,id,date,comments,host_id,neighbourhood_cleansed,city,latitude,longitude,number_of_reviews,first_review,last_review,review_scores_rating
0,44054,2010-08-25,Sev was very helpful. Sev showed us where to ...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
1,44054,2010-10-13,We arrived in Beijing very early in the mornin...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
2,44054,2011-08-11,It is a really massive apartment and really co...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
3,44054,2012-04-12,"Sev was incredibly helpful, showed us around t...",192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
4,44054,2012-08-30,The appartment was ideal for our party of 6 ad...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0

### Concatenate all Non-Western cities to one data frame

In [22]:
frames = [beijing, belize, buenos_aires, hong_kong, mexico_city, rio_de_janeiro, santiago, taipei, tokyo]
non_western_df = pd.concat(frames, ignore_index=True)

In [23]:
non_western_df.head()

,id,date,comments,host_id,neighbourhood_cleansed,city,latitude,longitude,number_of_reviews,first_review,last_review,review_scores_rating
0,44054,2010-08-25,Sev was very helpful. Sev showed us where to ...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
1,44054,2010-10-13,We arrived in Beijing very early in the mornin...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
2,44054,2011-08-11,It is a really massive apartment and really co...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
3,44054,2012-04-12,"Sev was incredibly helpful, showed us around t...",192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0
4,44054,2012-08-30,The appartment was ideal for our party of 6 ad...,192875,朝阳区 / Chaoyang,Beijing,39.89425,116.45089,99,2010-08-25,2020-01-06,91.0

### Check missing observations

In [24]:
non_western_df.isna().sum()

id                           0
date                         0
comments                  1995
host_id                      0
neighbourhood_cleansed       0
city                         0
latitude                     0
longitude                    0
number_of_reviews            0
first_review                 0
last_review                  0
review_scores_rating      3176
dtype: int64

### Check number of listings which have at least one review

In [25]:
print('Total number of listings in Non-Western cities: {}'.format(total_number_listings_non_western))
print('Number of listings which have at least one review: {} ({:.0%})'.format(non_western_df.id.nunique(), 
                                                    non_western_df.id.nunique()/total_number_listings_non_western))
print('Number of listings which do not have any review: {} ({:.0%})'.format(
                                                    total_number_listings_non_western - non_western_df.id.nunique(),
                                                    (total_number_listings_non_western - non_western_df.id.nunique())
                                                    /total_number_listings_non_western))

Total number of listings in Non-Western cities: 172081
Number of listings which have at least one review: 113778 (66%)
Number of listings which do not have any review: 58303 (34%)

### Remove missing observations in columns 'comments' and 'review_scores_rating'

In [27]:
non_western_df = non_western_df.dropna(subset=['comments', 'review_scores_rating'])

In [28]:
non_western_df.isna().sum()

id                        0
date                      0
comments                  0
host_id                   0
neighbourhood_cleansed    0
city                      0
latitude                  0
longitude                 0
number_of_reviews         0
first_review              0
last_review               0
review_scores_rating      0
dtype: int64

In [29]:
total_number_reviews_non_western_without_nan = non_western_df.shape[0]
print('Total number of reviews in Non-Western cities: {}'.format(total_number_reviews_non_western))
print('Total number of reviews after removing missing comments and review rating score: {}'.format(
                                                            total_number_reviews_non_western_without_nan))
print('Percentage of missing observations removed is: {:.1%}'.format(1 - (total_number_reviews_non_western_without_nan
                                                            /total_number_reviews_non_western)))

Total number of reviews in Non-Western cities: 2661487
Total number of reviews after removing missing comments and review rating score: 2656316
Percentage of missing observations removed is: 0.2%

### Remove automated reviews

In [30]:
non_western_df = non_western_df[~non_western_df.comments.str.contains('This is an automated posting')].reset_index(drop=True)

In [31]:
total_number_reviews_non_western_without_automated = non_western_df.shape[0]
print('Total number of reviews after removing automated reviews: {}'.format(
                                                    total_number_reviews_non_western_without_automated))
print('Percentage of observations removed is: {:.1%}'.format(1 - (total_number_reviews_non_western_without_automated
                                                    /total_number_reviews_non_western_without_nan)))

Total number of reviews after removing automated reviews: 2635117
Percentage of observations removed is: 0.8%

## The same as above initial preprocessing steps for Western cities

Cotrol study: London, Melbourne, New York, Vancouver

In [32]:
london_reviews = pd.read_csv('airbnb-reviews-listings/london.csv')
melbourne_reviews = pd.read_csv('airbnb-reviews-listings/melbourne.csv')
new_york_reviews = pd.read_csv('airbnb-reviews-listings/new_york.csv')
vancouver_reviews = pd.read_csv('airbnb-reviews-listings/vancouver.csv')

In [33]:
total_number_reviews_western = london_reviews.shape[0] + melbourne_reviews.shape[0] +\
                                new_york_reviews.shape[0] + vancouver_reviews.shape[0]

print('Total number of reviews in Western cities: {}'.format(total_number_reviews_western))

Total number of reviews in Western cities: 3472764

In [34]:
print('Total number of reviews per city:')
print('-------------------')
print('London : {} reviews and {} features.'.format(*london_reviews.shape))
print('Melbourne : {} reviews and {} features.'.format(*melbourne_reviews.shape))
print('New York : {} reviews and {} features.'.format(*new_york_reviews.shape))
print('Vancouver : {} reviews and {} features.'.format(*vancouver_reviews.shape))

Total number of reviews per city:
-------------------
London : 1472733 reviews and 6 features.
Melbourne : 614589 reviews and 6 features.
New York : 1182158 reviews and 6 features.
Vancouver : 203284 reviews and 6 features.

In [35]:
print('London contains {} duplicates.'.format(london_reviews.duplicated().sum()))
print('Melbourne contains {} duplicates.'.format(melbourne_reviews.duplicated().sum()))
print('New York contains {} duplicates.'.format(new_york_reviews.duplicated().sum()))
print('Vancouver contains {} duplicates.'.format(vancouver_reviews.duplicated().sum()))

London contains 0 duplicates.
Melbourne contains 0 duplicates.
New York contains 0 duplicates.
Vancouver contains 0 duplicates.

In [36]:
london_listings = pd.read_csv('airbnb-reviews-listings/london_listings.csv')
melbourne_listings = pd.read_csv('airbnb-reviews-listings/melbourne_listings.csv')
new_york_listings = pd.read_csv('airbnb-reviews-listings/new_york_listings.csv')
vancouver_listings = pd.read_csv('airbnb-reviews-listings/vancouver_listings.csv')

In [37]:
total_number_listings_western = london_listings.shape[0] + melbourne_listings.shape[0] +\
                               new_york_listings.shape[0] + vancouver_listings.shape[0]

print('Total number of listings in Western cities: {}'.format(total_number_listings_western))

Total number of listings in Western cities: 164405

In [38]:
print('Total number of listings per city:')
print('-------------------')
print('London : {} listings and {} features.'.format(*london_listings.shape))
print('Melbourne : {} listings and {} features.'.format(*melbourne_listings.shape))
print('New York : {} listings and {} features.'.format(*new_york_listings.shape))
print('Vancouver : {} listings and {} features.'.format(*vancouver_listings.shape))

Total number of listings per city:
-------------------
London : 85207 listings and 106 features.
Melbourne : 23862 listings and 106 features.
New York : 49530 listings and 106 features.
Vancouver : 5806 listings and 106 features.

In [39]:
print('London contains {} duplicates.'.format(london_listings.duplicated().sum()))
print('Melbourne contains {} duplicates.'.format(melbourne_listings.duplicated().sum()))
print('New York contains {} duplicates.'.format(new_york_listings.duplicated().sum()))
print('Vancouver contains {} duplicates.'.format(vancouver_listings.duplicated().sum()))

London contains 0 duplicates.
Melbourne contains 0 duplicates.
New York contains 0 duplicates.
Vancouver contains 0 duplicates.

In [40]:
london_listings = london_listings[columns_extracted]
melbourne_listings = melbourne_listings[columns_extracted]
new_york_listings = new_york_listings[columns_extracted]
vancouver_listings = vancouver_listings[columns_extracted]

In [41]:
london_listings['city'] = 'London'
melbourne_listings['city'] = 'Melbourne'
new_york_listings['city'] = 'New York'
vancouver_listings['city'] = 'Vancouver'

In [42]:
listings_western_df = pd.concat([london_listings, new_york_listings, melbourne_listings, vancouver_listings])\
                      .reset_index().drop('index', axis=1)

In [43]:
listings_western_df.to_pickle('listings_western_df.pkl')

In [44]:
london_reviews = london_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                               .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
melbourne_reviews = melbourne_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                               .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
new_york_reviews = new_york_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                               .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)
vancouver_reviews = vancouver_reviews.rename(columns={'listing_id': 'id', 'id': 'review_id'})\
                               .drop(['reviewer_name', 'review_id', 'reviewer_id'], axis=1)

In [45]:
london = pd.DataFrame.merge(london_reviews, london_listings, left_on='id', right_on='id', how='inner')
melbourne = pd.DataFrame.merge(melbourne_reviews, melbourne_listings, left_on='id', right_on='id', how='inner')
new_york = pd.DataFrame.merge(new_york_reviews, new_york_listings, left_on='id', right_on='id', how='inner')
vancouver = pd.DataFrame.merge(vancouver_reviews, vancouver_listings, left_on='id', right_on='id', how='inner')

In [46]:
frames_western = [london, melbourne, new_york, vancouver]
western_df = pd.concat(frames_western, ignore_index=True)

In [47]:
western_df.isna().sum()

id                           0
date                         0
comments                  1908
host_id                      0
neighbourhood_cleansed       0
city                         0
latitude                     0
longitude                    0
number_of_reviews            0
first_review                 0
last_review                  0
review_scores_rating      3779
dtype: int64

In [48]:
print('Total number of listings in Non-Western cities: {}'.format(total_number_listings_western))
print('Number of listings which have at least one review: {} ({:.0%})'.format(western_df.id.nunique(), 
                                                            western_df.id.nunique()/total_number_listings_western))
print('Number of listings which do not have any reviews: {} ({:.0%})'.format(
                                                            total_number_listings_western - western_df.id.nunique(),
                                                            (total_number_listings_western - western_df.id.nunique())
                                                            /total_number_listings_western))

Total number of listings in Non-Western cities: 164405
Number of listings which have at least one review: 125700 (76%)
Number of listings which do not have any reviews: 38705 (24%)

In [49]:
western_df = western_df.dropna(subset=['comments', 'review_scores_rating'])

In [51]:
total_number_reviews_western_without_nan = western_df.shape[0]
print('Total number of reviews in Western cities: {}'.format(total_number_reviews_western))
print('Total number of reviews after removing missing comments and review rating score: {}'.format(
                                                                        total_number_reviews_western_without_nan))
print('Percentage of missing observations removed is: {:.1%}'.format(1 - (total_number_reviews_western_without_nan
                                                                        /total_number_reviews_western)))

Total number of reviews in Western cities: 3472764
Total number of reviews after removing missing comments and review rating score: 3467077
Percentage of missing observations removed is: 0.2%

In [52]:
western_df = western_df[~western_df.comments.str.contains('This is an automated posting')].reset_index(drop=True)

In [53]:
total_number_reviews_western_without_automated = western_df.shape[0]
print('Total number of reviews after removing automated reviews: {}'.format(
                                                                    total_number_reviews_western_without_automated))
print('Percentage of observations removed is: {:.1%}'.format(1 - (total_number_reviews_western_without_automated
                                                                    /total_number_reviews_western_without_nan)))

Total number of reviews after removing automated reviews: 3423217
Percentage of observations removed is: 1.3%

## Save files to pickle

In [54]:
western_df.to_pickle('western_df.pkl')

In [55]:
non_western_df.to_pickle('non_western_df.pkl')